.container {
  width: 310px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 734px;
  }

  @media screen and (min-width: 1024px) {
    width: 989px;
  }
}
