:root {
  --main-text-color: #000000;
  --secondary-text-color: #ffffff;
  --complementary-text-color: #ff6b08;
  --footer-tex-color: #545454;
  --modal-form-secondary-text-color: #8c8c8c;
  --main-background-color: #ffffff;
  --footer-background-color: #f7f7f7;
}
