:root {
  --main-text-color: #000000;
  --secondary-text-color: #ffffff;
  --complementary-text-color: hwb(24 0% 22%);
  --footer-tex-color: #545454;
  --modal-form-secondary-text-color: #8c8c8c;
  --main-background-color: #ffffff;
  --footer-background-color: #f7f7f7;
  --youtube-color: #f00;
  --light-linear-gradient: linear-gradient(
    rgba(0, 0, 0, 0.56),
    rgba(0, 0, 0, 0.56)
  );
  --dark-linear-gradient: linear-gradient(
    #0008,
    #0006 50%,
    #000c 85%,
    #000f 100%
  );
}
