<header class="header-library is-hidden">
  <div class="container">
    <nav class="header-library__nav">
      <ul class="header-library__nav--list">
        <li class="header-library__item">
          <button class="header-library__button">Home</button>
        </li>
        <li class="header-library__item">
          <button class="header-library__button">Library</button>
        </li>
      </ul>
    </nav>
    <ul class="header-library__hero--list">
      <li class="header-library__hero--item">
        <button class="header-library__hero--button watched-button   watched-js">
          Watched
        </button>
      </li>
      <li class="header-library__hero--item">

        <button class="header-library__hero--button queue-button">Queue</button>

      </li>
    </ul>
  </div>
</header>
