<header class="main-page__header">
  <div class="header-container container">
    <nav class="main-page__navigation">
      <div class="header-logo">
        <svg width="24px" height="24px" class="header-logo__svg">
          <use href="./images/sprite.svg#icon-film-logo"></use>
        </svg>
        <p class="header-logo__text">Filmoteka</p>
      </div>
      <div class="pages-container">
        <ul class="pages__list">
          <li class="pages__home-btn current">Home</li>
          <li class="pages__library-btn">my library</li>
        </ul>
      </div>
    </nav>
    <div class="form-container">
      <form class="form-container_search" id="search-form">
        <input
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search movies..."
        />
        <button class="search-submit" type="submit">
          <svg height="12px" width="12px" class="search-svg">
            <use href="./images/sprite.svg#icon-search-logo"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</header>
