<!-- <li class="activities__item">
  <div class="activities__thumb">
    <picture>
      <source
        srcset="
          ./images/activities/desctop-370.webp 1x,
          ./images/activities/desctop-740.webp 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/activities/desctop-370.jpg 1x,
          ./images/activities/desctop-740.jpg 2x
        "
        type="image/jpeg"
      />
      <img src="./images/activities/desctop-370.jpg" alt="desctop" />
    </picture>
    <div class="activities__text-wrapper">
      <h3 class="activities__text">десктопные приложения</h3>
    </div>
  </div>
</li>
/> -->

<!-- <div class="modal">
  <div class="modal__wrapper">
    <button type="button" class="circle-btn" data-modal-close>
      <svg
        class="modal__circle-svg"
        width="30"
        height="30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m7.975 8-.699.701 3.149 3.149 3.15 3.15-3.138 3.138L7.3 21.275l.712.713.713.712 3.137-3.137L15 16.425l3.138 3.138 3.137 3.137.713-.712.712-.713-3.137-3.137L16.425 15l3.15-3.15 3.15-3.15-.713-.712-.712-.713-3.15 3.15-3.15 3.15-3.138-3.138C10.137 8.712 8.713 7.3 8.699 7.3c-.014 0-.34.315-.724.7"
          fill-rule="evenodd"
          fill="#000"
        />
      </svg>
    </button>
    <div class="poster__modal">
      <a class="poster__link" href="#">
        <img
          class="movie__poster"
          src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/${poster_path}"
          data-src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/${poster_path}"
          data-srcset="https://image.tmdb.org/t/p/w300_and_h450_bestv2/${poster_path} 1x, https://image.tmdb.org/t/p/w600_and_h900_bestv2/${poster_path} 2x"
          alt="${title}"
          srcset="
            https://image.tmdb.org/t/p/w300_and_h450_bestv2/${poster_path} 1x,
            https://image.tmdb.org/t/p/w600_and_h900_bestv2/${poster_path} 2x
          "
        />
      </a>
    </div>
    <div class="movie__feature">
      <div class="movie__desc">
        <h1 class="movie__title">${title}</h1>
        <div class="movie__info">
          <div class="movie__vote">
            <p class="movie__info-param">Vote / Votes</p>
            <p>${vote_average} / ${vote_count}</p>
          </div>
          <div class="movie__popularity">
            <p>Popularity</p>
            <p>${popularity}</p>
          </div>
          <div class="movie__original-title">
            <p>Original Title</p>
            <p>${original_title}</p>
          </div>
          <div class="movie__genre">
            <p>Genre</p>
            <p>${getMovieGenre(genres)}</p>
          </div>
        </div>
        <div class="movie__info">
          <h2></h2>
          <p class="overview">${overview}</p>
        </div>
      </div>
      <div class="feature-button"></div>
    </div>
  </div>
</div> -->
