<div class="backdrop is-hidden" data-team-modal>
  <div class="team-modal">
    <h2 class="team-modal__title">Developers</h2>
    <ul class="team-modal__list">
      <li class="team-modal__item">
        <div>
          <img
            class="team-modal__img"
            src="./images/team/eduard-sergienko.jpg"
            alt="sergienko"
          />
        </div>
        <div class="team-modal__text">
          <h3 class="team-modal__text--name">Eduard Sergienko</h3>
          <p class="team-modal__text--role">Team Lead</p>
        </div>
      </li>
      <li class="team-modal__item">
        <div>
          <img
            class="team-modal__img"
            src="./images/team/tetiana-polyvian.jpg"
            alt="polyvian"
          />
        </div>
        <div class="team-modal__text">
          <h3 class="team-modal__text--name">Tetiana Polyvian</h3>
          <p class="team-modal__text--role">Scrum master</p>
        </div>
      </li>
      <li class="team-modal__item">
        <div>
          <img
            class="team-modal__img"
            src="./images/team/hanna-pylypenko.jpg"
            alt="pylypenko"
          />
        </div>
        <div class="team-modal__text">
          <h3 class="team-modal__text--name">Hanna Pylypenko</h3>
          <p class="team-modal__text--role">Developer</p>
        </div>
      </li>
      <li class="team-modal__item">
        <div>
          <img
            class="team-modal__img"
            src="./images/team/vitalii-baluta.jpg"
            alt="baluta"
          />
        </div>
        <div class="team-modal__text">
          <h3 class="team-modal__text--name">Vitalii Baluta</h3>
          <p class="team-modal__text--role">Developer</p>
        </div>
      </li>
      <li class="team-modal__item">
        <div>
          <img
            class="team-modal__img"
            src="./images/team/volodymyr-zvarych.jpg"
            alt="zvarych"
          />
        </div>
        <div class="team-modal__text">
          <h3 class="team-modal__text--name">Volodymyr Zvarych</h3>
          <p class="team-modal__text--role">Developer</p>
        </div>
      </li>
      <li class="team-modal__item">
        <div>
          <img
            class="team-modal__img"
            src="./images/team/roman-maksimenko.jpg"
            alt="maksimenko"
          />
        </div>
        <div class="team-modal__text">
          <h3 class="team-modal__text--name">Roman Maksimenko</h3>
          <p class="team-modal__text--role">Developer</p>
        </div>
      </li>
      <li class="team-modal__item">
        <div>
          <img
            class="team-modal__img"
            src="./images/team/denys-tutov.jpg"
            alt="tutov"
          />
        </div>
        <div class="team-modal__text">
          <h3 class="team-modal__text--name">Denys Tutov</h3>
          <p class="team-modal__text--role">Developer</p>
        </div>
      </li>
      <li class="team-modal__item">
        <div>
          <img
            class="team-modal__img"
            src="./images/team/yurii-dvornichenko.jpg"
            alt="dvornichenko"
          />
        </div>
        <div class="team-modal__text">
          <h3 class="team-modal__text--name">Yurii Dvornichenko</h3>
          <p class="team-modal__text--role">Developer</p>
        </div>
      </li>
      <li class="team-modal__item">
        <div>
          <img
            class="team-modal__img"
            src="./images/team/yakov-yakimenko.jpg"
            alt="yakimenko"
          />
        </div>
        <div class="team-modal__text">
          <h3 class="team-modal__text--name">Yakov Yakimenko</h3>
          <p class="team-modal__text--role">Developer</p>
        </div>
      </li>
    </ul>
    <button
      type="button"
      class="team-modal__button-close"
      data-team-modal-close
    >
      <svg class="team-modal__icon-close" width="" height="">
        <use href=""></use>
      </svg>
      <svg
        class="team-modal__circle-svg"
        width="30"
        height="30"
        xmlns="http://www.w3.org/2000/svg"
      ></svg>
    </button>
  </div>
</div>
