<div class="modal-team">
  <h2 class="team-modal__title"></h2>
  <ul class="team-modal__list">
    <li class="team-modal__item">
      <h3 class="team-modal__name">Eduard Sergienko</h3>
      <p class="team-modal__position">Team Lead</p>
      <img
        src="/src/images/team/Ed.png"
        alt="Eduard"
        class="team-modal__img"
        srcset="/src/images/team/Ed.png 1x, /src/images/team/Ed_2x.png 2x"
      />
      <div class="social-box">
        <ul class="social-box__list">
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#githab"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#google"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#linked"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team-modal__item">
      <h3 class="team-modal__name">Eduard Sergienko</h3>
      <p class="team-modal__position">Team Lead</p>
      <img
        src="/src/images/team/Ed.png"
        alt="Eduard"
        class="team-modal__img"
        srcset="/src/images/team/Ed.png 1x, /src/images/team/Ed_2x.png 2x"
      />
      <div class="social-box">
        <ul class="social-box__list">
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#githab"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#google"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#linked"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team-modal__item">
      <h3 class="team-modal__name">Eduard Sergienko</h3>
      <p class="team-modal__position">Team Lead</p>
      <img
        src="/src/images/team/Ed.png"
        alt="Eduard"
        class="team-modal__img"
        srcset="/src/images/team/Ed.png 1x, /src/images/team/Ed_2x.png 2x"
      />
      <div class="social-box">
        <ul class="social-box__list">
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#githab"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#google"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#linked"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team-modal__item">
      <h3 class="team-modal__name">Eduard Sergienko</h3>
      <p class="team-modal__position">Team Lead</p>
      <img
        src="/src/images/team/Ed.png"
        alt="Eduard"
        class="team-modal__img"
        srcset="/src/images/team/Ed.png 1x, /src/images/team/Ed_2x.png 2x"
      />
      <div class="social-box">
        <ul class="social-box__list">
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#githab"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#google"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#linked"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team-modal__item">
      <h3 class="team-modal__name">Eduard Sergienko</h3>
      <p class="team-modal__position">Team Lead</p>
      <img
        src="/src/images/team/Ed.png"
        alt="Eduard"
        class="team-modal__img"
        srcset="/src/images/team/Ed.png 1x, /src/images/team/Ed_2x.png 2x"
        width="124"
        height="124"
      />
      <div class="social-box">
        <ul class="social-box__list">
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#githab"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#google"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#linked"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team-modal__item">
      <h3 class="team-modal__name">Eduard Sergienko</h3>
      <p class="team-modal__position">Team Lead</p>
      <img
        src="/src/images/team/Ed.png"
        alt="Eduard"
        class="team-modal__img"
        srcset="/src/images/team/Ed.png 1x, /src/images/team/Ed_2x.png 2x"
      />
      <div class="social-box">
        <ul class="social-box__list">
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#githab"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#google"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#linked"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team-modal__item">
      <h3 class="team-modal__name">Eduard Sergienko</h3>
      <p class="team-modal__position">Team Lead</p>
      <img
        src="/src/images/team/Ed.png"
        alt="Eduard"
        class="team-modal__img"
        srcset="/src/images/team/Ed.png 1x, /src/images/team/Ed_2x.png 2x"
      />
      <div class="social-box">
        <ul class="social-box__list">
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#githab"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#google"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#linked"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team-modal__item">
      <h3 class="team-modal__name">Eduard Sergienko</h3>
      <p class="team-modal__position">Team Lead</p>
      <img
        src="/src/images/team/Ed.png"
        alt="Eduard"
        class="team-modal__img"
        srcset="/src/images/team/Ed.png 1x, /src/images/team/Ed_2x.png 2x"
      />
      <div class="social-box">
        <ul class="social-box__list">
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#githab"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#google"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#linked"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="team-modal__item">
      <h3 class="team-modal__name">Eduard Sergienko</h3>
      <p class="team-modal__position">Team Lead</p>
      <img
        src="./src/images/team/Ed.png"
        alt="Eduard"
        class="team-modal__img"
        srcset="/src/images/team/Ed.png 1x, /src/images/team/Ed_2x.png 2x"
      />
      <div class="social-box">
        <ul class="social-box__list">
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#githab"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#google"></use>
              </svg>
            </a>
          </li>
          <li class="social-box__item">
            <a class="social-box__link" href="#">
              <svg class="social-box__icon" width="17" height="17">
                <use href="/src/images/team/socicon.svg#linked"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <button type="button" class="close_modal"></button>
    </li>
  </ul>
</div>
