.active-toolbar {
  display: none;
}

.toolbarContainer {
  width: 0px;
  margin-left: 0;

  &__Btn,
  &__Lib {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    border-color: aliceblue;
  }

  @media screen and (min-width: 768px) {
    margin-right: auto;
    &__Btn,
    &__Lib {
      width: 31px;
      height: 31px;
      fill: #444;
    }
  }
}

.toolbarContainer {
  &__sun,
  &__moon,
  &__sun-lib,
  &__moon-lib {
    height: inherit;
    width: 24px;
    @media screen and (min-width: 768px) {
      width: 31px;
    }
  }
}

// .toolbarContainer__sun-svg,
// .toolbarContainer__moon-svg {
// }

.toolbarContainer__ {
  &Btn,
  &Lib {
    &.rot {
      &:hover,
      &:focus {
        .toolbarContainer__sun,
        .toolbarContainer__sun-lib {
          animation: 5s linear 0s normal none infinite running rot;
          -webkit-animation: 5s linear 0s normal none infinite running rot;
        }
        .toolbarContainer__moon,
        .toolbarContainer__moon-lib {
          animation: 3s linear 0s normal none infinite running rot;
          -webkit-animation: 3s linear 0s normal none infinite running rot;
        }
      }
    }
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animation {
  transform: translateX(100px);
}
