.active-toolbar {
  display: none;
}

.toolbarContainer {
  width: 0px;
  margin-left: 0;

  &__Btn,
  &__Lib {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    border-color: aliceblue;
  }

  @media screen and (min-width: 768px) {
    margin-right: auto;
    &__Btn,
    &__Lib {
      width: 31px;
      height: 31px;
    }
  }
}

.toolbarContainer {
  &__sun,
  &__moon,
  &__sun-lib,
  &__moon-lib {
    height: inherit;
    fill: black;
  }
}

.toolbarContainer {
  &__sun,
  &__sun-lib {
    &.rot {
      &:hover,
      &:focus {
        animation: 5s linear 0s normal none infinite running rot;
        -webkit-animation: 5s linear 0s normal none infinite running rot;
      }
    }
  }
  &__moon,
  &__moon-lib {
    &.rot {
      &:hover,
      &:focus {
        animation: 2s linear 0s normal none infinite running rot;
        -webkit-animation: 2s linear 0s normal none infinite running rot;
      }
    }
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animation {
  transform: translateX(100px);
}
