.warning {
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    color: red;
}
.currentbtn{
    background-color: var(--complementary-text-color);
        border: none;
        filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}