.films {
  padding: 20px 0;
}

.films-list {
  min-height: calc(102vh - 460px);
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -16px -16px;
    min-height: calc(102vh - 428px);
  }
  @media screen and (min-width: 1024px) {
    margin: -11px -8px;
    min-height: calc(102vh - 436px);
  }
}
.films-list__card {
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0ms, transform 250ms;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    transform: scale(1.03);
  }
  @media screen and (min-width: 768px) {
    margin: 16px 16px;
  }
  @media screen and (min-width: 768px) {
    margin: 11px 8px;
  }
}
.films-list__card.dark-theme {
  background-color: #050505aa;
}
.films-list__poster {
  border-radius: 5px;
  margin-bottom: 8px;
  width: 280px;
  height: 402px;
  @media screen and (min-width: 768px) {
    width: 336px;
    height: 455px;
  }
  @media screen and (min-width: 1024px) {
    width: 309px;
    height: 449px;
  }
}
.film-info__name {
  font-weight: 500;

  line-height: 16px;
  /* or 133% */

  text-transform: uppercase;
}

.film-info__genre-year {
  font-weight: 500;

  line-height: 16px;

  color: var(--complementary-text-color);
}
.film-info__rait {
  width: 36px;
  height: 16px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  background-color: var(--complementary-text-color);
  align-items: center;

  text-transform: uppercase;
  color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-left: 8px;
}
.rait-hidden {
  opacity: 0;
}
