.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100px;
  width: 100%;
  // padding-top: 30px;
  // padding-bottom: 28px;
  color: var(--footer-tex-color);
  background: var(--footer-background-color);
  text-align: center;

  &.dark-theme {
    color: #ffff;
    background-color: #1f1e1e;
  }

  @media screen and (min-width: 768px) {
    height: 79px;
    flex-direction: row;
    align-items: center;
  }

  @media screen and (min-width: 1024px) {
    height: 77px;
    flex-direction: row;
    align-items: center;
  }
}

.footer__copyright {
  margin: 0;
  // color: var(--footer-tex-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  @media screen and (min-width: 768px) {
    margin: 0;
    font-size: 16px;
  }
}

.team {
  margin-top: 10px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin: 0;
    margin-left: 3px;
  }
}

.team__text {
  margin-left: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  // color: var(--footer-tex-color);

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.team__developed {
  margin: 0;
  // color: var(--footer-tex-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.team__link {
  color: var(--footer-tex-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: underline;

  &.dark-theme {
    color: #ffffff;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.team__icon {
  width: 14px;
  height: 13px;
  margin-top: 1px;
  margin-left: 5px;
  fill: var(--complementary-text-color);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
