.main-page__header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/mobile/main-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/mobile/main-mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/tablet/main-tablet.jpg);
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/tablet/main-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/desktop/main-desktop.jpg);
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/desktop/main-desktop@2x.jpg);
    }
  }
}

.main-page__header.dark-theme {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen {
    background-image: var(--dark-linear-gradient-main),
      url(../images/mobile/main-mobile.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--dark-linear-gradient-main),
        url(../images/mobile/main-mobile@2x.jpg);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    background-image: var(--dark-linear-gradient-main),
      url(../images/tablet/main-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--dark-linear-gradient-main),
        url(../images/tablet/main-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: var(--dark-linear-gradient-main),
      url(../images/desktop/main-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--dark-linear-gradient-main),
        url(../images/desktop/main-desktop@2x.jpg);
    }
  }
}

.header-container {
  padding-top: 40px;
  padding-bottom: 92px;
  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }
}

.main-page__navigation {
  color: rgba(255, 255, 255, 1);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
  @media screen and (min-width: 767px) {
    margin-bottom: 41px;
  }
}

.header-logo {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  &__svg {
    margin-right: 7px;

    @media screen and (min-width: 1024px) {
      margin-right: 10px;
    }
  }
}

.header-logo,
.header-lib-logo {
  position: relative;
}

.pages__list {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  & li {
    cursor: pointer;
  }
  & li:not(:last-child) {
    margin-right: 39px;
  }
}

.current {
  position: relative;

  height: 100%;

  transition-property: color;
  transition-duration: 250ms;
  //transition-timing-function: $transition-timing-function;
  &::after {
    content: ' ';
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--complementary-text-color);
  }
}

.header-logo__text {
  font-family: 'Roboto';
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.form-container {
  display: flex;
  //flex-direction: row;
  align-items: top;
  justify-content: center;
  padding: 0%;
  //min-height: 68px;
  // @media screen and (min-width:321px){
  //   min-height: 56px;
  // }
}

.form-container_search {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  //flex-direction: row;
  align-items: flex-start;
  //margin-bottom: 36px;
  padding: 0;

  & input {
    padding: 0;
    color: var(--secondary-text-color);
    width: 280px;
    height: 20px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid var(--secondary-text-color);
    &:focus {
      outline: none;
    }
    @media screen and (min-width: 768px) {
      width: 336px;
    }
  }

  & button {
    margin-left: -20px;
    background: transparent;
    border: none;
  }
}
