.container-library {
  padding-top: 40px;
  padding-bottom: 61px;
  @media screen and (min-width: 768px) {
    padding-bottom: 59px;
  }
}

.header-library {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  @media screen {
    background-image: var(--light-linear-gradient),
      url('../images/1x/library-header320.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--light-linear-gradient),
        url('../images/2x/library-header320.jpg');
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    background-image: var(--light-linear-gradient),
      url('../images/1x/library-header768.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--light-linear-gradient),
        url('../images/2x/library-header768.jpg');
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: var(--light-linear-gradient),
      url('../images/1x/library-header1024.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--light-linear-gradient),
        url('../images/2x/library-header1024.jpg');
    }
  }
}

.header-library.dark-theme {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  @media screen {
    background-image: var(--dark-linear-gradient),
      url('../images/1x/library-header320.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--dark-linear-gradient),
        url('../images/2x/library-header320.jpg');
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    background-image: var(--dark-linear-gradient),
      url('../images/1x/library-header768.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--dark-linear-gradient),
        url('../images/2x/library-header768.jpg');
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: var(--dark-linear-gradient),
      url('../images/1x/library-header1024.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--dark-linear-gradient),
        url('../images/2x/library-header1024.jpg');
    }
  }
}

.header-library__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.header-library__nav--list {
  display: flex;
}

.header-library__home-button,
.header-library__lib-button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: #0000;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.16;
  color: #fff;

  border-style: none;
  // &:hover,
  // &:focus {
  //   color: #99f;
  // }
}

.header-library__home-button {
  margin-right: 39px;
}

.library__button-text {
  color: var(--secondary-text-color);
  text-transform: uppercase;
  line-height: 1.167;
}

.header-library__hero--list {
  display: flex;
  justify-content: center;
}

.header-library__hero--item:first-child {
  margin-right: 20px;

  @media (min-width: 768px) {
    margin-right: 32px;
  }
  @media (min-width: 1024px) {
    margin-right: 16px;
  }
}

.header-library__hero--button {
  width: 129.5px;
  height: 44px;
  padding-top: 2.5px;

  @media (min-width: 768px) {
    width: 152px;
  }
  @media (min-width: 1024px) {
    width: 147px;
    height: 42px;
  }
  text-transform: uppercase;
  font-weight: 400;

  background-color: #0000;
  color: var(--secondary-text-color);
  border: 1px solid var(--main-background-color);
  &:hover,
  &:focus {
    background-color: var(--complementary-text-color);
    border: none;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  }
}
.header-lib-logo {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  &__svg {
    margin-right: 7px;

    @media screen and (min-width: 1024px) {
      margin-right: 10px;
    }
  }
}
