.scroll-process {
  color: #ffff;
  background-color: aqua;
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 50;

  &.dark-theme {
    color: black;
    .scroll-process__value {
      background-color: #ffff;
    }
  }

  @media screen and (max-width: 380px) {
    bottom: 50px;
  }
}
.scroll-process__value {
  display: flex;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #212121;
  border-radius: 50%;
  font-size: 25px;
  align-items: center;
  justify-content: center;
}
