.modal-team {
  position: absolute;
  background-color: var(--footer-background-color);
  width: 280px;
  padding: 8px 7px;

  color: var(--main-text-color);

  @media screen and (max-width: 767px) {
    left: 50%;
    transform: translateX(-50%);
  }
  @media screen and (min-width: 768px) {
    width: 710px;
    padding: 40px 30px;
    position: relative;
  }
  @media screen and (min-width: 1024px) {
    width: 820px;
    padding: 45px 37px;
  }
  &.dark-theme {
    box-shadow: 0px 0px 30px 5px rgb(255 255 255 / 30%);
    color: #ccc;
    background-color: #131313;

    width: 286px;
    @media screen and (min-width: 768px) {
      width: 710px;
    }
    @media screen and (min-width: 1024px) {
      width: 820px;
    }
  }
}
.team-modal__title {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  color: var(--complementary-text-color);
  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
.team-modal__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -9px;
  @media screen and (min-width: 1024px) {
    margin: -18px -15px;
  }
}
.team-modal__name {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;

  line-height: 16px;
  text-align: center;
  @media screen and (min-width: 1024px) {
    font-size: 13px;
  }
}
.team-modal__position {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--complementary-text-color);
  margin-bottom: 5px;
}

.team-modal__item {
  margin: 9px;
  @media screen and (min-width: 1024px) {
    margin: 18px 25px;
  }
}
.social-box__list {
  display: flex;
  justify-content: center;
  margin-top: 7px;
}
.social-box__item {
  margin-right: 7px;
  &:last-child {
    margin-right: 0;
  }
}
.social-box__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1024px) {
    width: 30px;
    height: 30px;
  }
  &:hover {
    background-color: var(--complementary-text-color);
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}
.social-box__icon {
  width: 14px;
  height: 14px;
  fill: #8c8c8c;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1024px) {
    width: 17px;
    height: 18px;
  }
  &.dark-theme {
    fill: #bbb;
  }
  .social-box__link:hover & {
    fill: var(--main-background-color);
  }
}

.team-modal__close-modal {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 31px;
  position: absolute;
  top: 1%;
  right: 3%;
  @media screen and (min-width: 768px) {
    top: 2%;
    right: 2%;
  }
}
.team-modal__close-modal-svg {
  stroke: #000000;
  &.dark-theme {
    stroke: #f6f6f6;
  }
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .team-modal__close-modal:hover & {
    stroke: var(--complementary-text-color);
  }
}
.basic-style {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
  }
}
.modal_centre {
  margin: auto;
}
.team-modal__img {
  transition: transform 250ms;
  // &:hover {
  //   // transform: scale(1.05);
  // }
}
